@font-face {
	font-family: 'monseratR'; 
	src: url(/fonts/Montserrat-Regular.ttf); 
}
@font-face {
	font-family: 'monseratB'; 
	src: url(/fonts/Montserrat-Bold.ttf); 
}

.pContainer{
    background-color: #d9f1ff;
    /* font-family: 'monseratR';  */
	font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    width: 850px;
    margin-bottom: 10px;
}

.headSl{
    display: flex;
    font-family: 'monseratB'; 
    /* border-radius: 10px; */
    margin-bottom: 30px;
}

.photoImg{
  border-radius: 20px;  
}

.info{
    margin-left: 20px;
    display: flex;
    flex-direction:column;
    gap: 20px;
    justify-content: center; /*Центрирование по горизонтали*/
}

.dayTitle,.freeTimeTitle{
    font-size: 20px;
    margin-top: 20px;
}

.day{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    display: flex;
    justify-content: left;
    gap: 5px;
}   

.oneDay{
    border: 2px solid #2c435b;
    cursor: pointer;
    background-color: bisque;
    border-radius: 5px; 
}

.chosen{
    background-color: #5680b0 !important;
    color: white !important;
    border: 2px solid #2c435b !important;
}


.oneDay:hover{
    background-color: #5680b0;
    color: white;
    border: 2px solid #2c435b;
}

.d_o_week{
    margin: 2px;
}
.date{
    margin: 2px;
}

.freeTime{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 10px;
}

.oneTime{
    border: 2px solid #2c435b;
    cursor: pointer;
    background-color: bisque;
    border-radius: 5px; 
}

.oneTime p{
    margin: 8px;
}
.oneTime:hover{
    background-color: #5680b0;
    color: white;
    border: 2px solid #2c435b;
}

.okButton{
    display: flex;
    margin-top: 40px;
    font-family: 'monseratR'; 
    border: 2px solid #2c435b;
    cursor: pointer;
    background-color: bisque;
    border-radius: 15px; 
    width: 190px;
}

.okButton:hover{
    background-color: #5680b0;
    color: white;
    border: 2px solid #2c435b;
}



.okButton p{
    padding: 5px;
    padding-top: 10px;
    margin: 0;
}


.none{
    visibility: hidden;
}
